# Data (never commit raw data)
data/raw/
data/processed/
models/.gitkeep

# Env
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# W&B
wandb/

# IDE
.vscode/
.idea/